body{
	text-align: center;
	background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.7259278711484594) 0%, rgba(1,1,1,1) 4%, rgba(117,200,173,1) 25%, rgba(3,29,6,1) 100%);
}
/*ピンクrgb(226, 18, 191)・緑rgba(3,29,6,1)*/
body::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: -1;
}


img{
	position: absolute;
	right: 17%;
	bottom: 0%;
	width: 68%;
	z-index: -1;
}

.logo h1{
	font-family: 'Rubik Lines', sans-serif;
	color:aliceblue;
	font-weight: lighter;
	font-size: 500%;
	padding-top: 10%;
}

.logo span{
	font-size: 50%;
	font-family: 'Lusitana', serif;
}