body{
	text-align: center;
	height: 850px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.7259278711484594) 0%, rgba(139,166,148,0.865983893557423) 40%, rgba(136,164,145,1) 68%, rgba(62,138,72,1) 100%);

}

body::before{
	height: 100%;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 80%;
	background-color: rgba(0,0,0,0.2);
}

img{
	position: absolute;
	right: 5%;
	bottom: 3%;
	z-index: -1;
}

h1{
	font-family: 'Londrina Sketch', sans-serif;
	color:aliceblue;
	font-weight: lighter;
	font-size: 500%;
	padding-top: 5%;
}

span{
	font-size: 50%;
	font-family: 'Lusitana', serif;
}
