.logo h1{
	font-family: 'Londrina Sketch', sans-serif;
	color:aliceblue;
	font-weight: lighter;
	font-size: 500%;
	padding-top: 5%;
}

.logo span{
	font-size: 50%;
	font-family: 'Lusitana', serif;
}

button {
	width: 300px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.4);
	/* border-color: #2ebd59; */
	border: none;
	border-radius: 50px;
	transition-duration: 1s;

}

button:hover {
	background-color: #2ebd59;
}

.signin-heading {
	opacity: 1;
	font-family: 'Londrina Sketch', sans-serif;
	color:aliceblue;
	font-weight: lighter;
	font-size: 500%;
	margin: 5%;
}
