button{
    width: 300px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    overflow: hidden; 
    border: none;
  }
  
button:hover{
    color: #888;
    background: white;
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    transition-duration: 0.5s;
    animation : infinite;
  } 
